.report-blocks-container:before, .report-blocks-container:after {
	content : " ";
	display : table;
	clear : both;
}

.report-block {
	padding : 0 10px 0 10px;
}

[class*='report-block-width-'],
[class*='report-block-pull-'],
[class*='report-block-push-'],
[class*='report-block-offset-'],
[class*='report-block-gutter-'] {
	position : relative;
	min-height : 1px;
	float : left;
	box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}

.report-block-width-1 {
	width : 8.33%;
}

.report-block-width-2 {
	width : 16.66%;
}

.report-block-width-3 {
	width : 25%;
}

.report-block-width-4 {
	width : 33.33%;
}

.report-block-width-5 {
	width : 41.66%;
}

.report-block-width-6 {
	width : 50%;
}

.report-block-width-7 {
	width : 58.33%;
}

.report-block-width-8 {
	width : 66.66%;
}

.report-block-width-9 {
	width : 75%;
}

.report-block-width-10 {
	width : 83.33%;
}

.report-block-width-11 {
	width : 91.66%;
}

.report-block-width-12 {
	width : 100%;
}

.report-block-pull-0 {
	right : auto;
}

.report-block-pull-1 {
	right : 8.33%;
}

.report-block-pull-2 {
	right : 16.66%;
}

.report-block-pull-3 {
	right : 25%;
}

.report-block-pull-4 {
	right : 33.33%;
}

.report-block-pull-5 {
	right : 41.66%;
}

.report-block-pull-6 {
	right : 50%;
}

.report-block-pull-7 {
	right : 58.33%;
}

.report-block-pull-8 {
	right : 66.66%;
}

.report-block-pull-9 {
	right : 75%;
}

.report-block-pull-10 {
	right : 83.33%;
}

.report-block-pull-11 {
	right : 91.66%;
}

.report-block-pull-12 {
	right : 100%;
}

.report-block-push-0 {
	left : auto;
}

.report-block-push-1 {
	left : 8.33%;
}

.report-block-push-2 {
	left : 16.66%;
}

.report-block-push-3 {
	left : 25%;
}

.report-block-push-4 {
	left : 33.33%;
}

.report-block-push-5 {
	left : 41.66%;
}

.report-block-push-6 {
	left : 50%;
}

.report-block-push-7 {
	left : 58.33%;
}

.report-block-push-8 {
	left : 66.66%;
}

.report-block-push-9 {
	left : 75%;
}

.report-block-push-10 {
	left : 83.33%;
}

.report-block-push-11 {
	left : 91.66%;
}

.report-block-push-12 {
	left : 100%;
}

.report-block-offset-0 {
	margin-left : 0;
}

.report-block-offset-1 {
	margin-left : 8.33%;
}

.report-block-offset-2 {
	margin-left : 16.66%;
}

.report-block-offset-3 {
	margin-left : 25%;
}

.report-block-offset-4 {
	margin-left : 33.33%;
}

.report-block-offset-5 {
	margin-left : 41.66%;
}

.report-block-offset-6 {
	margin-left : 50%;
}

.report-block-offset-7 {
	margin-left : 58.33%;
}

.report-block-offset-8 {
	margin-left : 66.66%;
}

.report-block-offset-9 {
	margin-left : 75%;
}

.report-block-offset-10 {
	margin-left : 83.33%;
}

.report-block-offset-11 {
	margin-left : 91.66%;
}

.report-block-offset-12 {
	margin-left : 100%;
}

.report-block-gutter-free {
	padding-left : 0;
	padding-right : 0;
}

.block > .report-block {
	/*width: 100%;*/
}
